<div class="container">
	<h1>User detail</h1>

	<form novalidate="novalidate" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="libelle">Libelle:</label>

			<div class="controls">
				<input type="text" id="Libelle" placeholder="{{user.libelle}}" ng-model="user.libelle" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLastName">Last name:</label>

			<div class="controls">
				<input type="text" id="inputLastName" ng-model="user.nom" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLastName">Last name:</label>

			<div class="controls">
				<input type="text" id="inputLastName" ng-model="user.prenom" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a ng-click="cancel()" class="btn btn-small">cancel</a> <a
					ng-click="updateUser()" class="btn btn-small btn-primary">update
					user</a>
			</div>
		</div>
	</form>
</div>