h2 {
	padding-top: 0px;
	text-align: center;
	color: #3071a9;
	font-size: 22px;
	font-weight: 300;
	font-family: "times new roman", times, serif;
	font-weight: 300;
	margin-top: 100px;
}

.pull-right{
	margin-right: 30px;
	margin-top: 7px;
	color: #fff;
}