<link rel="stylesheet" type="text/css" href="css/styleConnexion.css">
<header>
	<!-- 	<meta charset="utf-8">
 -->
	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container">


			<div class="collpase navbar-collapse" id="button">


				<div class="image">
					<img src="images/logo.jpg"
						class="img-circle img-circle-logo   hidden-xs hidden-sm"
						alt="Cinque Terre">

					<h5 class="titre-connexion">Bienvenu sur le site de gestion
						des demandes Administratives</h5>

				</div>
			</div>

		</div>
	</div>

	<div class="image">

		<img src="images/image.jpg"
			style="margin: 0px auto; display: block; margin-top: 70px;"
			class="img-rounded img-circle-accueil   hidden-xs hidden-sm"
			alt="Cinque Terre">
	</div>
	<!--*************************************************************************  -->
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Se connecter</h1>
				</div>
				<div class="panel-body">

					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputfirstname" class="col-md-2 control-label">
							</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="inputfirstname"
									placeholder="E-mail" />
							</div>
						</div>
						<div class="form-group">
							<label for="inputlastname" class="col-md-2 control-label">
							</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="inputlastname"
									placeholder="Mot de passe " />
							</div>
						</div>




					</form>
				</div>
				<div class="panel-footer">
					<div class="form-group">
						<div class="espaceMarginA">
							<a type="button" class="btn-primary btn btn-default"
								ng-click="connexion()">Connexion</a> <a
								href="#/"> Cancel </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>